<!doctype html>
<!-- main app -->
<html>
<% include includes/header.ejs %>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <h1>Auth set up successfully</h1>
</div>
</body>
</html>
